@model ZipNTuck.Data.EF.Reservation

@{
    ViewBag.Title = "Delete";
}

@if (User.IsInRole("Admin"))
{



<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReservationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReservationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArticlesOfClothing.ArticleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArticlesOfClothing.ArticleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location.LocationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.LocationName)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
}
else
{
    <h1>Access Denied</h1>
    <p>You do not have access to view this page</p>
}