@model IEnumerable<ZipNTuck.Data.EF.Reservation>

@{
    ViewBag.Title = "Reservation List";
}
<h2>@ViewBag.Title</h2>

@if (User.IsInRole("Admin") || User.IsInRole("Customer"))
{
<p>
    @Html.ActionLink("Create New", "Create")
</p>
}

<table class="table display">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReservationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticlesOfClothing.ArticleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location.LocationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticlesOfClothing.UserDetail.FullName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ReservationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArticlesOfClothing.ArticleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location.LocationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArticlesOfClothing.UserDetail.FullName)
                </td>

                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.ReservationID }) |

                    @if (User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.ReservationID }) @:|
                        @Html.ActionLink("Delete", "Delete", new { id = item.ReservationID })
                    }
                </td>
            </tr>
        }
    </tbody>
    </table>
