@model IEnumerable<ZipNTuck.Data.EF.ArticlesOfClothing>

@{
    ViewBag.Title = "List of Customer Items";
}

<h2>@ViewBag.Title</h2>

@if (User.IsInRole("Admin"))
{
    <div class="row" style="margin-bottom:1em;">

        <div class="col-sm-4">
            @Html.ActionLink("View Inactive", "Inactive", "ArticlesOfClothing", new { @class = "btn btn-primary" })
        </div>
    </div>
}

@if (User.IsInRole("Customer") || User.IsInRole("Admin"))
{
    <div class="col-sm-8">
        @Html.ActionLink("Add new Item", "Create", "ArticlesOfClothing", new { @class = "btn btn-primary" })
    </div>
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ArticleName)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.ArticlePhoto)*@
            Clothing Photo
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpecialNotes)
        </th>

        @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
        {
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
        }

        <th>
            @Html.DisplayNameFor(model => model.DateAdded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserDetail.FullName)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ArticleName)
            </td>
            <td>
                <img src="~/Content/clothingimg/t_@item.ArticlePhoto" alt="Clothing Photo" title="@item.ArticleName" />

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpecialNotes)
            </td>

            @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
            }

            <td>
                @Html.DisplayFor(modelItem => item.DateAdded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserDetail.FullName)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ArticleID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ArticleID }) |

                @if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.ArticleID })

                }
            </td>
        </tr>
    }

</table>
